/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
.dashboard-container {
    display:flex;
    height:100vh;}
aside {
    width:256px;
    flex-shrink:0;
    background-color:#f5f5f5;
    border-right:1px solid #e0e0e0;
    display:flex;
    flex-direction:column;
    height:100%;}


.sidebar-title{
  padding:20px;
  border-bottom:1px solid #e0e0e0;
}
a{
  font-size:1.25rem;
  font-weight:600;
  color:#4f7cac;
  display:flex;
  align-items:center;
  gap:8px;
  text-decoration:none;
}
main{
  flex:1;
}
.main-header{
  background-color:white;
  padding:32px;
  border-bottom:1px solid #e0e0e0;
  display:flex;
  align-items:center;
  font-size:1.5rem;
  font-weight: 600;
  color:#2f2f2f;
  margin-bottom:24px;

}
.profile-icon{
  height:96px;
  width:96px;
  background-color: #4f7cac;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 auto;
  margin-bottom: 24px;
  font-size:2.5rem;
  color:white;
}
h1,
h2,
h3 {
  font-size: 1.125rem;
  color: #757575;
  margin-bottom: 24px;
}

.message{
  max-width:672px;
  margin:0 auto;
  padding:32px;
  color:#757575;
  margin-block-end: 16px;


}
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */

/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */


/* サイドバーに関連するスタイルを書いてください */


/* メインコンテンツに関連するスタイルを書いてください */



